#
# russng.service (for v7)
#

[Unit]
Description=RUSS BB services

[Service]
LimitMEMLOCK=infinity
ExecStartPre=/usr/bin/rubb resync
ExecStart=/usr/bin/rubb start
ExecStop=/usr/bin/rubb stop
ExecReload=/usr/bin/rubb restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target