#
# russng.service (for v7)
#

[Unit]
Description=RUSS BB services

[Service]
LimitMEMLOCK=infinity
ExecStartPre=/usr/bin/rubb --bb-all resync
ExecStart=/usr/bin/rubb --bb-all start
ExecStop=/usr/bin/rubb --bb-all stop
ExecReload=/usr/bin/rubb --bb-all restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target