#
# russng.service (for v7)
#

[Unit]
Description=Run RUSS services

[Service]
LimitMEMLOCK=infinity
ExecStartPre=/usr/sbin/ruservice resync
ExecStart=/usr/sbin/ruservice . start
ExecStop=/usr/sbin/ruservice . stop
ExecReload=/usr/sbin/ruservice . restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target